@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

/** GLOBAL STYLE **/
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #242164;
}

header,
article,
div,
section {
    display: block;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
    color: rgba(36, 33, 100, 0.84);
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

header {
    padding: 2.125rem 0rem;
    display: flex;
    align-items: center;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
}

div.main-nav {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
}

span.navbar-toggle {
    display: none;
}

div.ear1-logo {
    display: flex;
    align-items: center;
}

.ear1-logo img {
    width: 1.8325rem;
    height: 2.0725rem;
}

.ear1-logo h1 {
    font-size: 1.6062rem;
    font-family: Helvetica, sans-serif;
    padding-left: 0.625rem;
    color: #00070f;
}

/*** RESPONSIVE SCREENS  ***/

@media only screen and (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        max-width: 950px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1120px;
    }
}
