@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

/******** ================  GLOBAL STYLE ================== ********/
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #242164;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
    color: rgba(36, 33, 100, 0.84);
}

img {
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


div.ear1-footer {
    margin-top: 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


div.ear1-footer > p {
    margin-bottom: 2.5em;
    margin-top: 1em;
    font-size: 12.5px;;
}

div.ear1-footer.footer-logo > span {
    font-size: 12.5px;
    display: block;
    font-family: 'Montserrat' , sans-serif;
    text-align: left;
    color: rgba(36, 33, 100, 0.84);
}

span.social-follow {
    margin-top: 0.4em;
    margin-left: 0em;
}

div.ear1-footer.footer-logo > span.social-follow > a {
    padding-right: 0.56em;
    color: #00BF69;
}


i.fa-facebook-f:hover {
    background-color:  #3b5998;
}

i.fa-linkedin-in:hover {
    background-color: #0a66c2;
}

i.fa-twitter:hover {
    background-color: #00aced;
}

/* span > i.fas.fa-angle-up {
    display: none;
} */

div.accordion-body > p {
    padding-top: 1.75em;
}

b {
    padding: 0em 0.75em;
}

div.footer-link {
    margin-top: 0.8em;
}

div.footer-link > li > a {
    font-size: 12px;
    font-family: 'Montserrat' , sans-serif;
    text-align: left;
    color: #242164;
    line-height: 2.2em !important;
}

div.footer-legal > a > p {
    font-size: 12px;
    font-family: 'Montserrat' , sans-serif;
    text-align: left;
    line-height: 2.2em !important;
}

div.footer-legal, div.download-btn {
    margin-top: 0.8em;
}


div.ear1-footer > header {
    margin-bottom: 1.2em;
    font-size: 12.5px;
    font-weight: 600;
    font-family: 'Montserrat' , sans-serif;
    text-align: left;
    color: rgba(36, 33, 100, 0.84);
}

button.footer-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .6s cubic-bezier(0.23, 0.42, 0.9, 0.48);
    margin-top: 0.8em;
}

button.footer-btn.google-play > img {
    padding-left: 2em;
}

span {
    display: block;
}

div.hero-heading > p {
    padding: 2em 0em;
}

form {
    padding-top: 0.32em;
}
div.download-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    width: 95%;
    display: flex;
    border-radius: 50px;
    flex-grow: 1;
    height: 60px;
    
}

.form-control {
    display: block;
    width: 50%;
    color: rgba(36, 33, 100, 0.54);
    font-family: 'Montserrat', sans-serif;
    font-size: 15.5px;
    padding-left: 0.95em;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}

button.num-btn-download {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 30%;
    border-radius: 0px 50px 50px 0px;
    background: #00BF69;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all .6s cubic-bezier(0.23, 0.42, 0.9, 0.48);
}

button.num-btn-download:hover {
    background: transparent;
    text-decoration: none;
    transform: scale(1.15, 1.15);
}


div.download-form > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: #242164;
    border-right: 0.5px solid #BDBDBD;
    padding: 0em 0.56em;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

span > i.fas.fa-2x.fa-sort-down {
    padding-left: 0.32em;
    color: #242164;
    padding-bottom: 0.38em;
}

div.watch-video {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    align-items: center;
}

div.watch-video > h5 {
    margin-left: 0.80em;
    color: #00BF69;
    font-family: 'Montserrat', serif;
    font-size: 16px;;
}

i.fas.fa-play {
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    padding: 1.2em;
    text-align: center;
    color: #00BF69;
    font-size: 9.5px;
}

section#about > h2 {
    text-align: center;
}

div.about {
    display: flex;
    flex-direction: row;
}

div#username {
    margin-top: 5em;
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    left: 100px;
    justify-content: center;
}

div.rounded-layer-one {
    position: relative;
    z-index: -1;
    border: 3.12px solid #00BF69;
    top: 10px;
    right: 5px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

img.username-phone-border {
    position: absolute;
    top: -17px;
    left: -31px;
    transform: translateX(50%);
}

img.phone-mockup {
    position: absolute;
    top: -15px;
    left: 54px;
    z-index: -1;
    transform: rotateX(-10deg);
}

div.ear1-registration {
    margin-top: 6.2em;
    flex: 0 0 50%;
    max-width: 50%;
    overflow-y: hidden;
}

div.registration-steps:first-child {
    padding-top: 0.65em;
}

div.registration-steps {
    padding-top: 8.65em;
}

div.registration-steps > h6 {
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    padding: 0 0 1em;
}

div.registration-steps > h2 {
    padding: 0 0 0.75em;
}

div.about-btn {
    padding-top: 2em;
}

.about-btn > button.btn.btn-download {
    padding-left: 0em;
}

button.btn {
    padding: 0 0.9em;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .6s cubic-bezier(0.23, 0.42, 0.9, 0.48);
}

button:hover {
    background: transparent;
    text-decoration: none;
    transform: scale(1.15, 1.15);
}

section#ear1-section {
    margin-top: 3em;
    width: 100%;
    border-radius: 25px;
    background: rgba(0, 191, 105, 0.1);
}

div.avatar > img {
    padding-top: 3.52em;
    text-align: center;
    margin: 0 auto;
}

section#ear1-section > h2 {
    padding: 0.93em 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

span.ear1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 0.35em;
    color: #00BF69;
    font-size: 32px;
    font-weight: 750;
    font-family: Helvetica, sans-serif;
    line-height: 28px;
}

span.ear1 > img {
    padding: 0 0.25em;
    height: 28px;
    background-repeat: round;
}

section#ear1-section > p{
    margin-top: 1em;
    text-align: center;
    padding: 0em 8.5em 2em;
}

div.ear1-section {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 2em;
}

section#ear1-features {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}

div.messaging {
    position: relative;
    height: 330px;
    flex: 0 0 40%;
    margin-right: 6em;
    max-width: 40%;
    border-radius: 35px;
    box-shadow: 0px 2.89231px 21.6923px rgba(0, 0, 0, 0.1);
}

div.messaging-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #00BF69;
    border-radius: 36.1538px 36.1538px 0px 0px;
    height: 72px;
}

div.messaging-title > h3, div.messaging-title > span {
    margin-top: 1em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14.7px;
    margin-left: 1.3em;
    margin-right: 1.3em;
}

div.messaging-title > span {
    background: rgba(255, 255, 255, 0.89);
    color: #00BF69;
    border-radius: 50%;
    text-align: center;
    padding: 0.2em;
    width: 24px;
    height: 24px;
}

div.messaging-list {
    display: flex;
    flex-direction: column;
    margin: 1.2em;
}

div.messaging-profile {
    display: flex;
    width: 100%;
    height: 62px;
}

div.messaging-profile > img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

div.messaging-profile-text {
    margin-left: 0.75em;
    display: flex;
    border-bottom: 0.9px solid rgba(199, 195, 195, 0.89);
    margin-bottom: 0.80em;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

div.last-child {
    border: none;
}

div.profile-class-name > p > strong, div.profile-class-name > p {
    font-size: 11px;
    line-height: 2;
}

div.profile-class-name > span, div.notification-time > p {
    font-size: 9px;
    color: rgba(36, 33, 100, 0.84);
    margin: 0em;
}

div.notification-time.no > p, div.notification-time.no > span {
    color: #00BF69;
    font-size: 9px;
}

div.notification-time.no > span, div.profile-class-name > span {
    display: block;
    font-family: 'Montserrat', sans-serif;
}

div.notification-time.no > span {
    text-align: center;
    padding: 0.2em;
    width: 12px;
    height: 12px;
    background: #00bf69;
    color: #fff;
    border-radius: 50%;
    margin: auto;
}

div.features-text {
    flex: 0 0 40%;
    width: 40%;
    margin-left: 1em;
    padding-top: 4.53em;
}

div.features-text > h2 {
    padding-right: 2.53em;
    padding-bottom: 0.85em;
}

section#connecting-people {
    background: #00BF69;
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: row-reverse;
    height: 450px;
}

div.connect-pattern {
    position: relative;
    width: 100%;
    margin: 0em 5.6em;
    flex: 0 0 40%;
    max-width: 40%;
}

div.green-pattern {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('https://res.cloudinary.com/abisalde/image/upload/v1611873757/Ear1/Pattern.png'), rgba(0, 191, 105, 0.1);
    border-radius: 26.9036px;
    position: absolute;
    z-index: 2;
    width: 345px;
    height: 310px;
    margin-top: 4em;
    left: -6px;
}

div.green-pattern > img {
    width: 265px;
    height: 95px;
    position: absolute;
    transform: rotateX(-10deg);
}

img.priyanka {
    top: -9px;
    left: -62px;
}

img.neelofa {
    top: 16px;
    right: -97px;
}

img.sergio {
    top: 110px;
    left: -7px;
}

img.elon {
    bottom: 6px;
    right: -97px;
}

img.jean {
    bottom: -45px;
    left: -94px;
}


div.connecting-around-world > p {
    color: #fff;
    padding-top: 2em;
}

div.connecting-around-world > h2 {
    color: #fff;
}

section#ear1-get-paid {
    display: flex;
    flex-flow: row;
}

div.get-paid-img {
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    margin-top: 3.5em;
    margin-right: 3em;
}

div.paid-img-pattern {
    background: url('https://res.cloudinary.com/abisalde/image/upload/v1611873757/Ear1/bg_background.png'), rgba(0, 191, 105, 0.2);
    background-repeat: round;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    width: 350px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.earnings {
    position: absolute;
    top: 45px;
    left: 45px;
    background: #00BF69;
    width: 260px;
    height: 245px;
    padding-left: 1.5em;
    padding-top: 1.2em;
    border: none;
    border-radius: 35px;
    color: #fff;
}

div.earnings > p {
    font-size: 10px;
    color: #fff;
}

div.earnings > span {
    margin-top: 1.25em;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}

div.earnings > span.revenue-post {
    margin-top: 1.75em;
    font-weight: normal;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
}

div.earnings > img {
    margin-top: 1.5em;
    transform: rotateX(-10deg);
    width: 190px;
}

div.earnings-bottom {
    position: absolute;
    background:  #fff;
    width: 260px;
    bottom: -1px;
    right: -1px;
    left: 0px;
    border: none;
    line-height: 60px;
    border-radius: 0px 0px 35px 35px;
}

i.fas.fa-circle {
    margin-left: -5px;
    padding-right: 5px;
}

div.pop-up > img {
    z-index: 4;
    position: absolute;
    width: 235px;
    height: 220px;
    bottom: -55px;
    right: -98px;
    transform: rotateX(-15deg);
}

div.heading-get-paid {
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    margin-top: 3.5em;
    margin-left: 3em;
}

div.heading-get-paid > p {
    padding-top: 1.2em;
}

section#FAQs > h2 {
    text-align: center;
    padding: 0.5em 0.89em 0.75em;
}

div#faqs-accordion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.accordion-main {
    width: 70vw;
    margin: 1.5em 1em 0em;
    border: 1px solid #BDBDBD;
    border-radius: 50px;
    padding: 1.5em 1.57em;
    outline: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
}

div.accordion-header > h2 {
    font-size: 16px;
    line-height: 26px;
}

.accordion-main.active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    display: block;
}

section#social-revolution {
    margin-top: 4em;
    width: 100%;
}


div.phone-show {
    background: url('https://res.cloudinary.com/abisalde/image/upload/v1612182814/Ear1/Be_a_part_of_it.png');
    background-repeat: round;
    z-index: 1;
    width: 100%;
    height: 420px;
    transform: rotateX(-10deg);
}

footer#ear1-footer {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 3em;
}


div.ear1-footer.footer-logo {
    flex: 0 0 25%;
    width: 25%;
}

div.ear1-footer.links-footer {
    flex: 0 0 25%;
    width: 25%;
}

div.ear1-footer.links-legal {
    flex: 0 0 25%;
    width: 25%;
}

div.ear1-footer-ear1-footer {
    flex: 0 0 25%;
    width: 25%;
}

img#footer-logo {
    width: 24px;
    height: 27px;
    margin-bottom: 1.2em;
}

span.social-follow > a:hover {
    transform: translateY(8px);
}

/*========================== MEDIA QUERY FOR DEVICES WIDTH ========================*/

@media only screen and (min-width: 320px) and (max-device-width: 424px) {
    header {
        margin-top: 1.9em;
    }
    
    header > button.btn.btn-download {
        display: none;
    }
    nav {
        width: 100%;
        margin-top: 2em;
    }
    nav#menu {
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;
    }
    .new-menu {
        flex-direction: column;
    }
    img#ear1-img {
        width: 32px;
        height: 35px;
        margin-right: 0.4em;
    }
    .ear1-logo {
        display: flex;
        align-items: center;
        margin-left: 1em;
    }
    div.ear1-logo > h4 {
        font-size: 25px;
        font-weight: 600;
        font-family: Helvetica, sans-serif;
        color: #00070F;
        line-height: 20px;
        letter-spacing: -1px;
    }
    span.navbar-toggle {
        display: inline-block;
        margin-right: 1.5em;
    }
    ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
    ul li {
        list-style-type: none;
        font-size: 15px;
        cursor: pointer;
        margin: 20px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 5px 50px;
    }
    ul li:first-child {
        margin-top: 0;
    }
    ul li:hover {
        opacity: 0.5;
    }
    .active {
        display: flex;
    }
    section#hero {
        margin: 3em auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.hero-heading {
        text-align: center;
    }
    div.hero-heading > p {
        padding: 1.7em 1.2em 2.75em;
    }
    form {
        display: none;
    }
    div#download-ear1, div.about-btn {
        display: flex;
        flex-flow: row;
        padding-bottom: 2em;
        justify-content: center;
        align-items: center;
    }
    a > button.btn.btn-download.apple-store {
        flex: 0 0 40%;
        width: 100%;
        padding-right: 1em;
    }
    a > button.btn.btn-download.google-play {
        flex: 0 0 40%;
        width: 100%;
        padding-left: 0.5em;
    }
    div.watch-video {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }
    div#phone-cover {
        margin-top: 4em;
    }
    img.ear1-mockup {
        max-width: 100%;
        max-height: auto;
        transform: rotateX(-10deg);
    }
    div.about {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    div#username {
        margin-top: 5em;
        position: relative;
        width: 100%;
        display: flex;
        left: 45px;
        height: 50vh;
        justify-content: center;
    }
    div.rounded-layer-one {
        position: relative;
        z-index: -1;
        border: 3.12px solid #00BF69;
        border-radius: 50%;
        top: 30px;
        right: 45px;
        width: 257.2px;
        height: 257.2px;
    }
    img.username-phone-border {
        position: absolute;
        top: -18px;
        left: -47px;
        transform: translateX(50%);
    }
    img.phone-mockup {
        position: absolute;
        top: -15px;
        left: -38px;
        z-index: -1;
        transform: translateX(50%);
    }
    div.ear1-registration {
        max-width: 100%;
    }
    div.registration-steps > p {
        padding: 0em 1.35em;
    }
    div.registration-steps {
        text-align: center;
        padding-top: 2.5em;
    }
    button.btn.btn-download.apple-store {
        flex: 0 0 40%;
        width: 100%;
        padding-right: 1em;
    }
    button.btn.btn-download.google-play {
        flex: 0 0 40%;
        width: 100%;
        padding-left: 0.5em;
    }
    section#ear1-section {
        margin-top: 2em;
        width: 100%;
        border-radius: 5px;
        background: rgba(0, 191, 105, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    div.avatar > img {
        padding-top: 2.32em;
    }
    section#ear1-section > h2 {
        padding: 0.93em 0.32em;
        display: flex;
        flex-flow: column;
    }
    section#ear1-section > p{
        margin-top: 1em;
        text-align: center;
        padding: 0 1.23em 2.5em;
        text-indent: 3em;
    }
    section#ear1-section > div#download-earl {
        padding-bottom: 3.6em;
    }
    section#ear1-features {
        display: flex;
        flex-flow: column;
    }
    div.messaging {
        margin: 1.25em 1.65em 1em;
        border-radius: 35px;
        box-shadow: 0px 2.89231px 21.6923px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        height: 330px;
    }
    div.messaging-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: #00BF69;
        border-radius: 36.1538px 36.1538px 0px 0px;
        height: 72px;
    }
    div.features-text {
        text-align: center;
        width: 100%;
        margin: 0em;
        padding-top: 2.32em;
    }
    div.features-text > h2 {
        padding: 0em 1em 0em;
    }
    div.features-text > p {
        padding: 1.3em 1.12em;
    }
    section#connecting-people {
        background: #00BF69;
        margin-top: 1.5em;
        width: 100%;
        display: flex;
        flex-flow: column;
        height: 750px;
    }
    div.green-pattern {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('https://res.cloudinary.com/abisalde/image/upload/v1611873757/Ear1/Pattern.png'), rgba(0, 191, 105, 0.1);
        border-radius: 26.9036px;
        position: absolute;
        z-index: 2;
        width: 240px;
        height: 210px;
        margin-top: 4em;
        left: -60px;
    }
    div.green-pattern > img {
        width: 185px;
        height: 75px;
        position: absolute;
        transform: rotateX(-10deg);
    }
    
    img.priyanka {
        top: -9px;
        left: -41px;
    }
    
    img.neelofa {
        top: 16px;
        right: -60px;
    }
    
    img.sergio {
        top: 77px;
        left: -7px;
    }
    
    img.elon {
        bottom: 6px;
        right: -60px;
    }
    
    img.jean {
        bottom: -36px;
        left: -44px;
    }
    div.connecting-around-world {
        margin-top: 2.5em;
    }
    
    div.connecting-around-world > p {
        padding: 0.6em 0.651em 5em;
        color: #fff;
        text-align: center;
    }
    
    div.connecting-around-world > h2 {
        padding: 0.5em 0.75em;
        color: #fff;
        text-align: center;
    }
    section#ear1-get-paid {
        display: flex;
        flex-flow: column;
    }
    div.get-paid-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 100%;
        margin: 2.65em;
    }
    div.paid-img-pattern {
        background: url('https://res.cloudinary.com/abisalde/image/upload/v1611873757/Ear1/bg_background.png'), rgba(0, 191, 105, 0.2);
        position: relative;
        border-radius: 20px;
        z-index: 1;
        left: 42px;
        margin: 0em 10em 2em 3em;
        width: 213px;
        height: 208px;
        display: flex;
        justify-content: center;
    }
    
    div.earnings {
        position: absolute;
        top: 31px;
        left: 31px;
        background: #00BF69;
        width: 150px;
        height: 150px;
        padding-left: 1em;
        padding-top: 0.83em;
        border: none;
        border-radius: 35px;
        color: #fff;
    }
    
    div.earnings > p {
        font-size: 10px;
        color: #fff;
    }
    
    div.earnings > span {
        margin-top: 0.35em;
        font-weight: 800;
        font-size: 22px;
        line-height: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    div.earnings > span.revenue-post {
        margin-top: 0.42em;
        font-weight: normal;
        font-size: 9px;
        font-family: 'Montserrat', sans-serif;
    }
    div.earnings > img {
        margin-top: 0.25em;
        transform: rotateX(-10deg);
        width: 120px;
    }
    div.earnings-bottom {
        position: absolute;
        background:  #fff;
        width: 150px;
        bottom: -1px;
        right: -1px;
        left: 0px;
        border: none;
        line-height: 30px;
        border-radius: 0px 0px 35px 35px;
    }
    
    i.fas.fa-circle {
        margin-left: -5px;
        padding-right: 5px;
    }
    
    div.pop-up > img {
        z-index: 4;
        position: absolute;
        width: 170px;
        height: 170px;
        bottom: -67px;
        right: -70px;
        transform: rotateX(-15deg);
    }
    div.heading-get-paid {
        text-align: center;
        padding: 1em 1.23em;
        max-width: 100%;
        margin: 0em;
    }
    div.heading-get-paid > p {
        padding-top: 1.2em;
    }
    .accordion-main {
        width: 90%;
    }
    section#social-revolution {
        background: rgba(0, 191, 105, 0.1);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .social-revolution > h2 {
        margin: 2em 0em 1em;
        padding: 0em 0.28em;
        text-align: center;
    }
    div.phone-show {
        display: none;
    }
    .social-revolution > p {
        padding: 0em 1.2em  2.5em;
        text-align: center;
    }
    footer#ear1-footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0em 1.2em;
        flex-direction: column;
        margin-bottom: 3em;
    }
    img#footer-logo {
        width: 24px;
        height: 27px;
        margin-bottom: 1.2em;
    }
    div.ear1-footer {
        margin-top: 2em;
    }
    span.social-follow > a:hover {
        transform: translateY(8px);
    }
    
}

@media only screen and (min-device-width: 375px) and (orientation:portrait) {
    img.username-phone-border {
        top: -9px;
        left: -15px;
    }

    img.phone-mockup {
        top: -5px;
        left: -5px;
    }
    div.rounded-layer-one {
        left: -42px;
    }
}


/************** ==========NAVBAR STYLE SECTION===============  *****************/
@media only screen and (min-device-width: 425px) and (max-device-width: 768px) and (orientation:portrait) {

    header {
        margin-top: 3em;
    }
    
    header > button.btn.btn-download {
        display: none;
    }
    
    nav {
        width: 100%;
        margin-top: 2em;
    }
    
    nav#menu {
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;
    
    }
    
    .new-menu {
        flex-direction: column;
    }
    
    img#ear1-img {
        width: 32px;
        height: 35px;
        margin-right: 0.4em;
    }
    
    .ear1-logo {
        display: flex;
        align-items: center;
        margin-left: 1em;
    }
    
    div.ear1-logo > h4 {
        font-size: 30px;
        font-weight: 600;
        font-family: Helvetica, sans-serif;
        color: #00070F;
        line-height: 20px;
        letter-spacing: -1px;
    }
    
    
    span.navbar-toggle {
        display: inline-block;
        margin-right: 1.5em;
    }
    
    ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
    
    ul li {
        list-style-type: none;
        font-size: 15px;
        cursor: pointer;
        margin: 20px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 5px 50px;
    }
    
    ul li:first-child {
        margin-top: 0;
    }
    
    ul li:hover {
        opacity: 0.5;
    }
    
    .active {
        display: flex;
    }
    
    
    /************** ==========NAVBAR STYLE SECTION  ENDS HERE===============  *****************/
    
    /************** ==========HERO STYLE SECTION===============  *****************/
    section#hero {
        margin: 5em auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.hero-heading {
        text-align: center;
    }
    
    div.hero-heading > h2 {
        padding: 0 2em;
    }
    
    div.hero-heading > p {
        padding: 1.7em 1.2em 2.75em;
    }

    form {
        display: none;
    }
    
    div#download-earl {
        margin-top: 2.7em ;
        margin-bottom: 2em;
        display: flex;
        justify-content: center
    }
    
    button.btn {
        padding: 0 0.9em;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all .6s cubic-bezier(0.23, 0.42, 0.9, 0.48);
    }
    
    button:hover {
        background: transparent;
        text-decoration: none;
        transform: scale(1.15, 1.15);
    }
    
    div.watch-video {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }
    
    div.watch-video > h5 {
        margin-left: 0.80em;
        color: #00BF69;
        font-family: 'Montserrat', serif;
        font-size: 16px;;
    }
    
    i.fas.fa-play {
        border: 1px solid #BDBDBD;
        border-radius: 50%;
        padding: 1.2em;
        text-align: center;
        color: #00BF69;
        font-size: 9.5px;
    }
    
    div#phone-cover {
        margin-top: 4em;
    }
    
    img.ear1-mockup {
        max-width: 100%;
        max-height: auto;
        transform: rotateX(-10deg);
    }
    
    /************** ==========HERO STYLE SECTION ENDS HERE===============  *****************/
    
    /************** ==========HOW IT WORKS START STYLE SECTION===============  *****************/
    
    section#about {
        margin-top: 5.5em;
    }
    
    section#about > h2 {
        text-align: center;
    }
    
    div#username {
        margin-top: 5em;
        position: relative;
        width: 100%;
        display: flex;
        left: 45px;
        height: 50vh;
        justify-content: center;
    }
    
    div.rounded-layer-one {
        position: relative;
        z-index: -1;
        border: 3.12px solid #00BF69;
        border-radius: 50%;
        top: 50px;
        right: 42.2px;
        width: 257.2px;
        height: 257.2px;
    }
    
    img.username-phone-border {
        position: absolute;
        top: 3px;
        left: 10px;
        transform: translateX(50%);
    }
    
    img.phone-mockup {
        position: absolute;
        top: 5px;
        left: 20.2px;
        z-index: -1;
        transform: translateX(50%);
        
    }

    div.about {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    
    div.ear1-registration {
        max-width: 100%;
    }

    div.registration-steps > p {
        padding: 0em 1.35em;
    }
    
    div.registration-steps {
        text-align: center;
        padding-top: 2.5em;
    }
    
    div.registration-steps > h6 {
        text-transform: uppercase;
        font-family: 'Montserrat', serif;
        font-weight: 300;
    }
    
    
    /************** ==========HOW IT WORKS START STYLE SECTION ENDS HERE===============  *****************/
    
    /************** ==========EAR1 OFFERS START STYLE SECTION===============  *****************/
    section#ear1-section {
        margin-top: 2em;
        width: 100%;
        border-radius: 5px;
        background: rgba(0, 191, 105, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    div.avatar > img {
        padding-top: 3.521em;
    }
    
    section#ear1-section > h2 {
        padding: 0.93em 1.23em;
        display: flex;
        flex-flow: column;
    }
    
    span.ear1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #00BF69;
        font-size: 32px;
        font-weight: 750;
        font-family: Helvetica, sans-serif;
        line-height: 28px;
        padding-top: 0.32em;
    }
    
    span.ear1 > img {
        padding: 0 0.25em;
        height: 28px;
        background-repeat: round;
    }
    
    section#ear1-section > p{
        margin-top: 1em;
        text-align: center;
        padding: 0 1.23em;
        text-indent: 3em;
    }
    
    section#ear1-section > div#download-earl {
        margin-bottom: 3.6em;
    }
    
    /************** ==========EAR1 OFFER STYLE SECTION ENDS HERE===============  *****************/
    
    /************** ==========EAR1 FEATURES START STYLE SECTION===============  *****************/
    section#ear1-features {
        display: flex;
        flex-flow: column;
    }
    
    div.messaging {
        margin: 3.25em 1.65em 1em;
        border-radius: 35px;
        box-shadow: 0px 2.89231px 21.6923px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        height: 330px;
    }
    
    div.messaging-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: #00BF69;
        border-radius: 36.1538px 36.1538px 0px 0px;
        height: 72px;
    }
    
    div.messaging-title > h3, div.messaging-title > span {
        margin-top: 1em;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 14.7px;
        margin-left: 1.3em;
        margin-right: 1.3em;
    }
    
    div.messaging-title > span {
        background: rgba(255, 255, 255, 0.89);
        color: #00BF69;
        border-radius: 50%;
        text-align: center;
        padding: 0.2em;
        width: 24px;
        height: 24px;
    }
    
    div.messaging-list {
        display: flex;
        flex-direction: column;
        margin: 1.2em;
    }
    
    div.messaging-profile {
        display: flex;
        width: 100%;
        height: 62px;
    }
    
    div.messaging-profile > img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    
    div.messaging-profile-text {
        margin-left: 0.75em;
        display: flex;
        border-bottom: 0.9px solid rgba(199, 195, 195, 0.89);
        margin-bottom: 0.80em;
        width: 100%;
        flex-grow: 1;
        justify-content: space-between;
    }
    
    div.last-child {
        border: none;
    }
    
    div.profile-class-name > p > strong, div.profile-class-name > p {
        font-size: 11px;
        line-height: 2;
    }
    
    div.profile-class-name > span, div.notification-time > p {
        font-size: 9px;
        color: rgba(36, 33, 100, 0.84);
        margin: 0em;
    }
    
    div.notification-time.no > p, div.notification-time.no > span {
        color: #00BF69;
        font-size: 9px;
    }
    
    div.notification-time.no > span, div.profile-class-name > span {
        display: block;
        font-family: 'Montserrat', sans-serif;
    }
    
    div.notification-time.no > span {
        text-align: center;
        padding: 0.2em;
        width: 12px;
        height: 12px;
        background: #00bf69;
        color: #fff;
        border-radius: 50%;
        margin: auto;
    }
    
    div.features-text {
        text-align: center;
        width: 100%;
        margin: 0em;
        padding-top: 2.32em;
    }

    div.features-text > h2 {
        padding: 0em 1em 0em;
    }
    
    div.features-text > p {
        padding: 1.3em 1.12em;
    }
    /************** ==========EAR1 FEATURES STYLE SECTION ENDS HERE===============  *****************/
    
    
    /************** ============EAR1 CONNECTING PEOPLE STYLE STARTS HERE=============  *****************/
    section#connecting-people {
        background: #00BF69;
        margin-top: 1.5em;
        width: 100%;
    }
    
    /************** ==========EAR1 CONNECTING PEOPLE STYLE SECTION ENDS HERE===============  *****************/
    section#connecting-people {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 635px;
    
    }
    
    div.connect-pattern {
        position: relative;
        width: 100%;
        height: 32vh;
    
    }
    
    div.green-pattern {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('https://res.cloudinary.com/abisalde/image/upload/v1611873757/Ear1/Pattern.png'), rgba(0, 191, 105, 0.1);
        border-radius: 26.9036px;
        position: absolute;
        z-index: 2;
        width: 289px;
        height: 245px;
        margin-top: 4em;
        left: -74px;
    }
    
    div.green-pattern > img {
        width: 239px;
        height: 79px;
    }
    
    img.priyanka {
        top: -9px;
        position: absolute;
        left: -65px;
        transform: rotateX(-10deg);
    }
    
    img.neelofa {
        position: absolute;
        top: 16px;
        right: -97px;
        transform: rotateX(-10deg);
    }
    
    img.sergio {
        position: absolute;
        top: 88px;
        left: -7px;
        transform: rotateX(-10deg);
    }
    
    img.elon {
        position: absolute;
        bottom: 6px;
        right: -97px;
        transform: rotateX(-10deg);
    }
    
    img.jean {
        position: absolute;
        bottom: -45px;
        left: -70px;
        transform: rotateX(-10deg);
    }
    
    div.connecting-around-world {
        margin-top: 9.87em;
    }
    
    div.connecting-around-world > p {
        padding: 0.6em 0.651em 5em;
        color: #fff;
        text-align: center;
    }
    
    div.connecting-around-world > h2 {
        padding: 0.5em 0.75em;
        color: #fff;
        text-align: center;
    }
    
    
    /************** ==========EAR1 GET PAID SECTION STARTS HERE===============  *****************/
    section#ear1-get-paid {
        display: flex;
        flex-flow: column;
    }
    
    div.get-paid-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 100%;
        margin: 2.65em;
    }
    
    div.paid-img-pattern {
        background: url('https://res.cloudinary.com/abisalde/image/upload/v1611873757/Ear1/bg_background.png'), rgba(0, 191, 105, 0.2);
        position: relative;
        border-radius: 20px;
        z-index: 1;
        left: 15px;
        margin: 2.3em 10em 4em 3em;
        width: 257px;
        height: 252px;
        display: flex;
        justify-content: center;
    }
    
    div.earnings {
        position: absolute;
        top: 41px;
        left: 41px;
        background: #00BF69;
        width: 172px;
        height: 180px;
        padding-left: 1.5em;
        padding-top: 1.2em;
        border: none;
        border-radius: 35px;
        color: #fff;
    }
    
    div.earnings > p {
        font-size: 10px;
        color: #fff;
    }
    
    div.earnings > span {
        margin-top: 0.53em;
        font-weight: 800;
        font-size: 22px;
        line-height: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    
    div.earnings > span.revenue-post {
        margin-top: 0.62em;
        font-weight: normal;
        font-size: 9px;
        font-family: 'Montserrat', sans-serif;
    }
    
    div.earnings > img {
        margin-top: 0.55em;
        transform: rotateX(-10deg);
    }
    
    div.earnings-bottom {
        position: absolute;
        background:  #fff;
        width: 172px;
        bottom: -1px;
        right: -1px;
        left: 0px;
        border: none;
        line-height: 45px;
        border-radius: 0px 0px 35px 35px;
    }
    
    i.fas.fa-circle {
        margin-left: -5px;
        padding-right: 5px;
    }
    
    div.pop-up > img {
        z-index: 4;
        position: absolute;
        width: 205px;
        height: 207px;
        bottom: -85px;
        right: -100px;
        transform: rotateX(-15deg);
    }
    
    div.heading-get-paid {
        text-align: center;
        padding: 1em 1.23em;
        max-width: 100%;
        margin: 0em;
    }
    
    div.heading-get-paid > p {
        padding-top: 1.2em;
    }
    
    /************** ==========EAR1 GET PAID STYLE SECTION ENDS HERE===============  *****************/
    
    /************** ==========EAR1 FAQS STYLE SECTION STARTS HERE===============  *****************/
    section#FAQs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    section#FAQs > h2 {
        text-align: center;
        padding: 0.5em 0.89em 0.75em;
    }
    
    div#faqs-accordion {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0em 1em 2.5em;
    }
    
    
    .accordion-main {
        width: 100%;
        margin: 1.5em 0em 0em;
        border: 1px solid #BDBDBD;
        border-radius: 50px;
        padding: 1.5em 1em;
        outline: none;
    }
    
    .accordion-header {
        display: flex;
        justify-content: space-between;
    }
    
    div.accordion-header > h2 {
        font-size: 16px;
        line-height: 26px;
    }
    
    
    
    /************** ==========EAR1 SOCIAL REVOLUTION STYLE SECTION STARTS HERE===============  *****************/
    section#social-revolution {
        background: rgba(0, 191, 105, 0.1);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
    .social-revolution > h2 {
        margin: 2em 0em 1em;
        padding: 0em 0.28em;
        text-align: center;
    }

    div.phone-show {
        display: none;
    }
    
    .social-revolution > p {
        padding: 0em 1.2em;
        text-align: center;
    }
    
    /************** ==========EAR1 FOOTER STYLE SECTION STARTS HERE===============  *****************/
    footer#ear1-footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0em 1.2em;
        flex-direction: column;
        margin-bottom: 3em;
    }
    
    img#footer-logo {
        width: 24px;
        height: 27px;
        margin-bottom: 1.2em;
    }
    
    div.ear1-footer {
        margin-top: 2em;
    }
    
    
    span.social-follow > a:hover {
        transform: translateY(8px);
    }
}

@media only screen and (min-device-width: 768px) and (orientation:portrait) {
    img.username-phone-border {
        position: absolute;
        top: 7px;
        left: 177px;
        transform: translateX(50%);
    }
    img.phone-mockup {
        position: absolute;
        top: 13px;
        left: 188.3px;
        z-index: -1;
        transform: translateX(50%);
    }

    div.ear1-registration {
        margin-top: 8.2em;
    }

}

@media only screen and (min-device-width: 924px) and (max-device-width: 1024px) {
    .container {
        margin: 0em 4.5em;
    }

    header {
        margin-top: 1.35em;
        display: grid;
        grid-template-columns: 325px auto 180px;
    }

    header > button.btn.btn-download {
        position: absolute;
        z-index: -1;
        right: 130px;
        width: 180px;
        height: 60px;
        border-radius: 50px;
        background: #00BF69;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .6s cubic-bezier(0.23, 0.42, 0.9, 0.48);
    }

    nav#menu {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
    }

    .ear1-logo {
        display: flex;
        align-items: center;
    }

    img#ear1-img {
        width: 55px;
        height: 58px;
    }

    div.ear1-logo > h4 {
        font-size: 30.5px;
        font-weight: 700;
        font-family: 'Helvetica', sans-serif;
        letter-spacing: -1px;
        line-height: 25px;
        color: #00070F;
        padding-left: 0.32em;
    }

    span.navbar-toggle {
        display: none;
    }

    ul.nav-menu#nav-menu {
        flex-direction: row;
        flex-grow: 1;
        display: flex;
        padding-left: 6em;
    }

    ul > li > a {
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        padding-left: 1.12em;
        font-family: 'Montserrat', sans-serif;
        color: #242164;
    }

    section#hero {
        margin-top: 6em;
    }
    div.hero-btn {
        display: none;
    }
    div.hero-heading {
        position: relative;
        width: 100%;
        flex: 0 0 45%;
        max-width: 45%;
    }
    
    div.background-phone-cover {
        background: rgba(0, 191, 105, 0.1);
        position: absolute;
        width: 700px;
        height: 700px;
        top: -85px;
        right: -147px;
        border-radius: 50%;
    }
    div#phone-cover {
        position: absolute;
        z-index: 3;
        width: 715px;
        height: 760px;
        right: -155px;
        top: 130px;
    }
    img.ear1-mockup {
        width: 477px;
        height: 451px;
        transform: rotateX(-10deg);
    }
    section#about {
        margin-top: 6.5em;
    }
    div.connecting-around-world {
    width: 100%;
    margin-left: 4.5em;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 4.2em;
    padding-left: 4.5em;
    }
    
    div.social-revolution {
    display: none;
}
}


/* =================================== MEDIA SCREEN 1050==========================*/
@media only screen and (min-width: 1050px) {
    .container {
        margin: 0em 4.5em;
    }

    header {
        margin-top: 1.35em;
        display: grid;
        grid-template-columns: 325px auto 180px;
    }

    header > button.btn.btn-download {
        position: absolute;
        z-index: -1;
        right: 130px;
        width: 180px;
        height: 60px;
        border-radius: 50px;
        background: #00BF69;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .6s cubic-bezier(0.23, 0.42, 0.9, 0.48);
    }

    nav#menu {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
    }

    .ear1-logo {
        display: flex;
        align-items: center;
    }

    img#ear1-img {
        width: 55px;
        height: 58px;
    }

    div.ear1-logo > h4 {
        font-size: 30.5px;
        font-weight: 700;
        font-family: 'Helvetica', sans-serif;
        letter-spacing: -1px;
        line-height: 25px;
        color: #00070F;
        padding-left: 0.32em;
    }

    span.navbar-toggle {
        display: none;
    }

    ul.nav-menu#nav-menu {
        flex-direction: row;
        flex-grow: 1;
        display: flex;
        padding-left: 6em;
    }

    ul > li > a {
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        padding-left: 1.12em;
        font-family: 'Montserrat', sans-serif;
        color: #242164;
    }

    section#hero {
        margin-top: 6em;
    }
    div.hero-btn {
        display: none;
    }
    div.hero-heading {
        position: relative;
        width: 100%;
        flex: 0 0 45%;
        max-width: 45%;
    }
    div.background-phone-cover {
        background: rgba(0, 191, 105, 0.1);
        position: absolute;
        width: 900px;
        height: 900px;
        top: -172px;
        right: -156px;
        border-radius: 50%;
    }

    div#phone-cover {
        position: absolute;
        z-index: 3;
        width: 900px;
        right: -158px;
        top: 126px;
    }
    img.ear1-mockup {
        width: 602px;
        height: 586px;
        transform: rotateX(-10deg);

    }
    section#about {
    margin-top: 16em;
    }
    div.connecting-around-world {
    width: 100%;
    margin-left: 4.5em;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 4.2em;
    }
    div.connecting-around-world > h2 {
        padding-right: 2em;
    }

    div.connecting-around-world > h2 {
        padding-right: 2em;
    }
    
    div.social-revolution {
    display: none;
    }

}